<h1> Please enter your username</h1>

<%= form_tag ({controller: 'sessions', action: 'validate', method: 'post'}) do %>
    <input name=name> 
    <input type=submit value='Enter your username'>
  <% end %>