<h1> Monsters </h1>

<ul>
    <% @monsters.each do |m| %>
    <li><%= link_to m.name, monster_path(m) %></li>
    <% end %>
</ul>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>