<div class="dm_pages">
<h1> Dungeon Masters </h1>
<h2> Welcome <%= session[:name] %> </h2>

<ul>
    <% @dms.each do |d| %>
    <li><%= link_to d.name, dm_path(d) %></li>
    <% end %>
</ul>

<%= button_to "Return to your proflie", dm_path(@dm), method: :get %>

<%= button_to "Go to monster index", monsters_path, method: :get %> 
</div>
