.dm_pages {
    background: url("https://i.pinimg.com/originals/2b/a7/eb/2ba7ebeceb102acd93bc9cefef153370.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh ;
    color: white;
}