.monster_display_pages {
    background: url("https://images7.alphacoders.com/621/thumb-1920-621150.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.monster_image {
    display: block;
    max-width:800px;
    max-height:400px;
    width: auto;
    height: auto;
    position: absolute;
    left: 300px;
}
