.monster_navigation_pages {
    background: url("https://images7.alphacoders.com/621/thumb-1920-621150.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh ;
    color: white;
}